body {
  margin: 3em;
}

h1 a {
  color:black;
  text-decoration:none;
}

div.post {
    border: 1px solid black;
    border-radius: 12px;
    margin-bottom: 8px;
    padding: 8px 8px 8px 12px;
}

div.post:nth-child(even) {
    background : #ddd;
}
div.post:nth-child(odd) {
    background : #ccc;
}
div.username {
    font-weight:bold;
}
div.date {
    font-style:italic;
    padding-bottom:5px;
}
