body {
  margin: 3em;
}

h1 a {
  color:black;
  text-decoration:none;
}

div.post {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 12px;
    margin-bottom: 4px;
    padding: 0px 8px 0px 12px;
}

div.post:nth-child(even) {
    background : #ccc;
}
div.post:nth-child(odd) {
    background : #aaa;
}
